<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block title %}
      {% if title %}
      <title>{{ title }} - Click Clack Type</title>
      {% else %}
      <title>Welcome to Click Clack Type</title>
      {% endif %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>   
    
    <body>
    	<header class="main-header" role="banner"> <img src ="static/ClickClackType.png" width = '750' height = '170' class = "center" > 
    	</header>
    	{% block leftbar %}
    	<div class="col-md-3 leftbar">
    	<div class="leftblock" >
    	<h1>Hi {{ current_user.username }}!</h1>
        <div><a href="/index">Home</a></div>
        <div><a href="/login">Login</a></div>
        <div><a href="/logout">Logout</a></div>
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div><a href="/play">Play</a></div>
		<div><a href="/play_for_fun">Practice</a></div>
        <div><a href="/my_account">My Account</a></div>
        <ul>
        	<li><div><a href="/known">Known Words</a></div></li>
        	<li><div><a href="/tried">Tried Words</a></div></li>
        	<li><div><a href="/untried">Untried Words</a></div></li>
        </ul>
        <div><a href="/admin_add">Admin: Add</a></div>
        </div>
        </div>
        {% endblock %}
        <div class="main col-md-9">
        	{% block content %}{% endblock %}
        </div>
    </body>
</html>