<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block title %}
      {% if title %}
      <title>{{ title }} - Click Clack Type</title>
      {% else %}
      <title>Welcome to Click Clack Type</title>
      {% endif %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>   
    
    <body>
    	<header class="main-header" role="banner"> <img src ="static/ClickClackType.png" width = '850' height = '200' class = "center" > 
    	</header>
    	{% block leftbar %}
    	<div class="nav">
    	<div class="leftblock" >
        <div id="{% if '/index' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/index">Home</a></div>
        {% if current_user.is_authenticated %}
        <div id="{% if '/login' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/logout">Logout</a></div>
        {% else %}
        <div id="{% if '/logout' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/login">Login</a></div>
        {% endif %}
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if current_user.is_authenticated %}
        <div id="{% if '/play' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/play">Play</a></div>
        {% endif %}
		<div id="{% if '/play_for_fun' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/play_for_fun">Practice</a></div>
		{% if current_user.is_authenticated %}
        <div id="{% if '/my_account' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/my_account">My Account</a></div>
        <ul>
        	<li><div id="{% if '/known' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/known">Known Words</a></div></li>
        	<li><div id="{% if '/tried' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/tried">Tried Words</a></div></li>
        	<li><div id="{% if '/untried' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/untried">Untried Words</a></div></li>
        </ul>
        {% endif %}
        {% if current_user.admin %}
        <div id="{% if '/admin_add' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="/admin_add">Admin: Add</a></div>
        {% endif %}
        </div>
        </div>
        {% endblock %}
        <div class="main col-md-9">
        	{% block content %}{% endblock %}
        </div>
    </body>
</html>