{% extends "base.html" %}

{% block content %}
    <h1>
    	Hi{% if current_user.is_authenticated %}
    		{{ current_user.username }}
    	{% endif %}!
    </h1>
    <p> Let's <a href="/play">play</a> and learn how to type!<p/>
    <p>Watch the video below to learn how to type properly.</p>
    <p>You can then practice typing with <a href="/play_for_fun">your right hand or your left</a> hand in the practice mode.</p>
    <p>You can also <a href="/play_for_fun">type and spell</a> words according to their image.</p>
    <video width="400" controls autoplay>
    	<source src="static/Video_Clickclacktype.mp4" type="video/mp4">
	</video>
	<p> Look at how all the <a href="/images">images</a> offered by this app.</p>
{% endblock %}