{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <p> Here are different information about your account.<p/>
    <p> Email Address: {{ current_user.email }}</p>
    <p> Password: <a href="/change_password"> Change password </a></p>
    <br>
    <p>Explore your scores!</p>
    <ul>
    	<li><div><a href="/known">Known Words</a></div></li>
        <li><div><a href="/tried">Tried Words</a></div></li>
    	<li><div><a href="/untried">Untried Words</a></div></li>
    </ul>
    <br>
    <p>Do you wanna start over? <a href="/restart">Reset</a></p>
{% endblock %}