{% extends "base.html" %}

{% block content %}
    <h1>Change your password {{ current_user.username }}</h1>
    New Password:<br>
  	<input class="password1" id="password1" type="password1" name=password1 value="">
  	<br>
  	Retype your Password:<br>
  	<input class="password2" id="password2" type="password2" name=password2 value="">
  	<br>
	<button class="enter">Next</button>
	
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    	
    	initialize()
    	function initialize() {
			var password1 = document.querySelector('.password1');
			var password2 = document.querySelector('.password2');
			
			var btn = document.querySelector('.enter');
			
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	
			btn.onclick= function() { // function to check if the input is correct, after clicking the button
				if (password1.value==password2.value){
					$.getJSON($SCRIPT_ROOT + '/_password_changed', { // calling the python function which will add the data to the db
        				password: password1.value,
      					}, function(data) {
        					alert(data.result);
        					window.location.href = "/my_account";
      					});
				}
				else{
					alert("Your passwords do not match! Try again");
					password1.value= '';
					password2.value= '';
				}
			}
			$(document).keypress(function (e) { // function to check if the input is correct, after pressing enter
                if (e.which == 13 || event.keyCode == 13) {
                    if (password1.value==password2.value){
						$.getJSON($SCRIPT_ROOT + '/_password_changed', { // calling the python function which will add the data to the db
        					password: password1.value,
      						}, function(data) {
      							alert(data.result);
        						window.location.href = "/my_account";
      						});
					}
					else{
						alert("Your passwords do not match! Try again");
						password1.value= '';
						password2.value= '';
					}
                }
            });
        	
		}
    </script>
{% endblock %}