{% extends "base.html" %}

{% block content %}

    {% if images %}
    <h1>Image</h1>
    <p> Welcome to play mode! Here, your time will be recorded when you start typing. </p>
    <p> Click "Next" or your enter button to proceed to the next word. </p>
    <p><b> Good Luck! <b></p>

    <div class="full-img">
      <img class="displayed-img">
    </div>
    Your answer:<br>
  	<input class="input" id="input" type="text" name=input value="">
  	<br>
	<button class="enter">Next</button>
	<button class="skip" id="skip" >Skip</button>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script type="text/javascript">
    	
    	var images = {{ images|tojson }};
    	initialize()
    	function initialize() {
			var displayedImage = document.querySelector('.displayed-img');
			var index = Math.floor(Math.random() * images.length);
			var img = images[index]
			displayedImage.setAttribute('src', 'static/'+img.image);
			displayedImage.setAttribute('width', '200');
			displayedImage.setAttribute('height', '200');
			displayedImage.setAttribute('id', img.word);
	
			btn = document.querySelector('.enter');
			btn2 = document.querySelector('.skip');
			document.getElementById("skip").style.visibility="hidden";
			attempts = 0; // counter for the skip button
			
			var bool = true; // counter to start the timer
			var timeStart; // start time
			var timeEnd; // end time
			
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			
			document.getElementById("input").addEventListener("keypress", function() {
				if (bool==true){
					var d = new Date();
					timeStart = d.getTime(); // timer get started
					bool = false;
				}
     		}, false);
	
			btn.onclick= function() { // function to check if the input is correct, after clicking the button
				var input = document.querySelector('.input');
				if (input.value==displayedImage.id){
					var d= new Date();
					timeEnd = d.getTime(); // timer stopped
						alert("Correct. Your time was " + ((timeEnd-timeStart)/1000) + "seconds!");
						var timing= (timeEnd-timeStart)
						$.getJSON($SCRIPT_ROOT + '/_add_image_known', { // calling the python function which will add the data to the db
        					input: img.word,
        					time: timing,
      					}, function(data) {
        					$("#result").text(data.result);
        					input.value= '';
        					window.location.href = "/play";
      					});
				}
				else{
					attempts += 1;
					skip(attempts); // check if the skip button should appear
					alert("Incorrect. Please try again");
					bool = true; // to restart the timer
					
					$.getJSON($SCRIPT_ROOT + '/_add_image_tried', { // calling the python function which will add the data to the db
        					input: img.word,
      					}, function(data) {
        					$("#result").text(data.result);
        				input.value= '';
      				});
				}
			}
			$(document).keypress(function (e) { // function to check if the input is correct, after pressing enter
                if (e.which == 13 || event.keyCode == 13) {
                    var input = document.querySelector('.input');
					if (input.value==displayedImage.id){
						var d= new Date();
						timeEnd = d.getTime();
						alert("Correct. Your time was " + ((timeEnd-timeStart)/1000) + "seconds!");
						var timing= (timeEnd-timeStart)
						$.getJSON($SCRIPT_ROOT + '/_add_image_known', { // calling the python function which will add the data to the db
        					input: img.word,
        					time: timing,
      					}, function(data) {
        					$("#result").text(data.result);
        					input.value= '';
        					window.location.href = "/play";
      					});
					}
					else{
						attempts += 1;
						skip(attempts); // check if the skip button should appear
						alert("Incorrect, please try again!");
						bool = true; // to restart the timer
						
						$.getJSON($SCRIPT_ROOT + '/_add_image_tried', { // calling the python function which will add the data to the db
        					input: img.word,
      					}, function(data) {
        					$("#result").text(data.result);
        					input.value= '';
      					});
					}
                }
            });
            
            function skip(attempts){ // if there has been three attempts, the skip button appear
				if(attempts < 3) {
					document.getElementById("skip").style.visibility="hidden";
				}
				if(attempts >= 3){
					document.getElementById("skip").style.visibility="visible";
				} 
			}    
            
            btn2.onclick= function() {
				window.location.href = "/play";
			}
        	
		}
    </script>
    {% else %}
    <div> You know every word </div>
    {% endif %}
{% endblock %}