{% extends "base.html" %}

{% block content %}
    <h1>Practice Mode!</h1>
	<p><b>Welcome to Practice Mode!</b> Feel free to practice spelling and typing words, your time will not be recorded. Have fun!</p>
    <div class="full-img">
      <img class="displayed-img">
    </div>
    Your answer:<br>
  	<input class="input" id="input"  type="text" name="input" value="">
  	<br>
	<button class="enter" >Enter</button>
	<button class="skip" id="skip" >Skip</button>


    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    	var images = {{ images|tojson }};
    	initialize()
    	function initialize() {
			var displayedImage = document.querySelector('.displayed-img');
			var index = Math.floor(Math.random() * images.length);
			var img = images[index]
			displayedImage.setAttribute('src', 'static/'+img.image);
			displayedImage.setAttribute('width', '200');
			displayedImage.setAttribute('height', '300');
			displayedImage.setAttribute('id', img.word);
			
			btn = document.querySelector('.enter');
			btn2 = document.querySelector('.skip');
			document.getElementById("skip").style.visibility="hidden";
			attempts = 0;
			
			var bool = true;
			var timeStart;
			var timeEnd;
			
			document.getElementById("input").addEventListener("keypress", function() {
				if (bool==true){
					var d = new Date();
					timeStart = d.getTime();
					bool = false;
				}
     		}, false);
			
			btn.onclick= function() { // function to check if the input is correct, after clicking the button
				var input = document.querySelector('.input');
				if (input.value==displayedImage.id){
					var d= new Date();
					timeEnd = d.getTime();
					alert("Correct. Your time was " + (timeEnd-timeStart));
					var index = Math.floor(Math.random() * images.length);
					var img = images[index]
					displayedImage.setAttribute('src', 'static/'+img.image);
					displayedImage.setAttribute('id', img.word);
					
					input.value= '';
				}
				else{
					bool = true; // to restart the timer
					attempts += 1;
					skip(attempts); // check if the skip button should appear
					alert("Try again");
					input.value= '';
				}
			}

			$(document).keypress(function (e) { // function to check if the input is correct, after pressing enter
                if (e.which == 13 || event.keyCode == 13) {
                    var input = document.querySelector('.input');
					if (input.value==displayedImage.id){
						var d= new Date();
						timeEnd = d.getTime();
						alert("Correct. Your time was " + (timeEnd-timeStart));
						var index = Math.floor(Math.random() * images.length);
						var img = images[index]
						displayedImage.setAttribute('src', 'static/'+img.image);
						displayedImage.setAttribute('id', img.word);
					
						input.value= '';
					}
					else{
						bool = true; // to restart the timer
						attempts += 1;
						skip(attempts); // check if the skip button should appear
						alert("Try again");
						input.value= '';
					}
                }
            });
            
			function skip(attempts){ // if there has been three attempts, the skip button appear
				if(attempts < 3) {
					document.getElementById("skip").style.visibility="hidden";
				}
				if(attempts >= 3){
					document.getElementById("skip").style.visibility="visible";
				} 
			}            
            
            btn2.onclick= function() { // change for another another image
				var index = Math.floor(Math.random() * images.length);
				var img = images[index]
				displayedImage.setAttribute('src', 'static/'+img.image);
				displayedImage.setAttribute('id', img.word);	
				input.value= '';
				attempts = 0; // counter back to 0
				document.getElementById("skip").style.visibility="hidden"; // button hidden again
			}
			

								
		
			
		}
    </script>
{% endblock %}