{% extends "base.html" %}

{% block content %}
    <h1>Practice Mode!</h1>
	<p><b>Welcome to Practice Mode!</b> Feel free to practice spelling and typing words, your time will not be recorded. Have fun!</p>
    <p> Decide if you want to practice spelling words:
    <form >
		<input type="radio" name="choice" value="0" id="all"> All</input>
		<p>Or practice one hand:</p>
		<input type="radio" name="choice" value="4" id="left"> Left Hand</input>
		<input type="radio" name="choice" value="5" id="right"> Right Hand</input>
	</form>
	<button class="mode">Change mode</button>
	<div class="full-img">
      <img class="displayed-img">
    </div>
    Your answer:<br>
  	<input class="input" id="input"  type="text" name="input" value="">
  	<br>
	<button class="enter" >Enter</button>
	<button class="skip" id="skip" >Skip</button>


    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    	var images = {{ images|tojson }};
    	initialize();
    	function initialize() {
    		document.getElementById("{{ mode }}").checked = true;
    		if ({{ image }}) {
				var displayedImage = document.querySelector('.displayed-img');
				var index = Math.floor(Math.random() * images.length);
				var img = images[index]
				displayedImage.setAttribute('src', 'static/'+img.image);
				displayedImage.setAttribute('width', '200');
				displayedImage.setAttribute('height', '300');
				displayedImage.setAttribute('id', img.word);
			
				btn = document.querySelector('.enter');
				btn2 = document.querySelector('.skip');
				document.getElementById("skip").style.visibility="hidden";
				attempts = 0;
			
				var bool = true;
				var timeStart;
				var timeEnd;
				var d;
			}
			document.getElementById("input").addEventListener("keypress", function() { // function to start the timer
				if (bool==true){
					d = new Date();
					timeStart = d.getTime();
					bool = false;
				}
     		}, false);
			
			function check_input(){ // function to check if the input is correct
				var input = document.querySelector('.input');
				if (input.value==displayedImage.id){
					var d= new Date();
					timeEnd = d.getTime();
					alert("Correct. Your time was " + ((timeEnd-timeStart)/1000) + "seconds!");
					next_image();
				}
				else{
					bool = true; // to restart the timer
					attempts += 1;
					skip(attempts); // check if the skip button should appear
					alert("Try again");
					input.value= '';
				}
			}
			
			function next_image(){ 
				bool = true; // to restart the timer
				var index = Math.floor(Math.random() * images.length);
				var img = images[index]
				displayedImage.setAttribute('src', 'static/'+img.image);
				displayedImage.setAttribute('id', img.word);
				attempts = 0; // counter back to 0
				document.getElementById("skip").style.visibility="hidden"; // button hidden again					
				input.value= '';
			}
			
			btn.onclick=check_input;

			$(document).keypress(function (e) { // function to check if the input is correct, after pressing enter
                if (e.which == 13 || event.keyCode == 13) {
                    check_input();
                }
            });
            
			function skip(attempts){ // if there has been three attempts, the skip button appear
				if(attempts < 3) {
					document.getElementById("skip").style.visibility="hidden";
				}
				if(attempts >= 3){
					document.getElementById("skip").style.visibility="visible";
				} 
			}            
            
            btn2.onclick= function() { // change for another another image
				next_image();
			}		
		}
    </script>
{% endblock %}