{% extends "base.html" %}

{% block content %}
    <h1>Practice Mode!</h1>
	<p><b>Welcome to Practice Mode!</b> Feel free to practice spelling and typing words, your time will not be recorded. Have fun!</p>
    <p> Decide if you want to practice spelling words:
    <form >
		<input type="radio" name="choice" value="0" id="all"> All Images</input>
		<p>Or practice one hand:</p>
		<input type="radio" name="choice" value="4" id="left"> Left Hand</input>
		<input type="radio" name="choice" value="5" id="right"> Right Hand</input>
	</form>
	<button class="mode">Change mode</button>
	<div class="full-img">
      <img class="displayed-img">
    </div>
    <div id="word">
    </div>
    Your answer:<br>
  	<input class="input" id="input"  type="text" name="input" value="">
  	<br>
	<button class="enter" >Enter</button>
	<button class="skip" id="skip" >Skip</button>


    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    	var images = {{ images|tojson }};
    	initialize();
    	function initialize() {
    		document.getElementById("{{ mode }}").checked = true; // display the mode chosen
    		if ({{ image }} == true) {  // if the user is playing the image mode
				var displayedImage = document.querySelector('.displayed-img');
				var index = Math.floor(Math.random() * images.length); // a random image will be displayed
				var img = images[index]
				displayedImage.setAttribute('src', 'static/'+img.image);
				displayedImage.setAttribute('width', '200');
				displayedImage.setAttribute('height', '300');
				displayedImage.setAttribute('id', img.word);
			}
			else { // and if the user is practicing a hand
				var index = Math.floor(Math.random() * images.length); // a random word will be displayed
				var word = images[index]
				document.getElementById("word").innerHTML = word.word;
			}
			
			btn = document.querySelector('.enter');
			btn2 = document.querySelector('.skip');
			btn_mode = document.querySelector('.mode');;
			btn_mode.onclick = change_mode; // function to change mode associate with button
			
			document.getElementById("skip").style.visibility="hidden"; // button skip is hiddent
			attempts = 0; // keep track of the attempts
			
			var bool = true; // boolean to start the timer
			var timeStart; // start time variable
			var timeEnd; // end time variable
			
			document.getElementById("input").addEventListener("keypress", function() { // function to start the timer
				if (bool==true){
					var d = new Date();
					timeStart = d.getTime();
					bool = false;
				}
     		}, false);
     		
     		function change_mode() { // change mode, from image to practice right or left hand
				var mode = document.forms[0];
   				var mode_asked = "";
    			var i;
    			for (i = 0; i < mode.length; i++) {
        			if (mode[i].checked) {
            			mode_asked = mode[i].value;
        			}
    			}
    			if (mode_asked==4) {
					window.location.href = "/practice_left";
				}
				else if (mode_asked==5) {
					window.location.href = "/practice_right";
				}
				else {
					window.location.href = "/play_for_fun";
				}
			}
			
			function check_input_img(){ // function to check if the input is correct for the image
				var input = document.querySelector('.input');
				if (input.value==displayedImage.id){
					var d= new Date();
					timeEnd = d.getTime();
					alert("Correct. Your time was " + ((timeEnd-timeStart)/1000) + "seconds!");
					next_image();
				}
				else{
					bool = true; // to restart the timer
					attempts += 1;
					skip(attempts); // check if the skip button should appear
					alert("Try again");
					input.value= '';
				}
			}
			
			function check_input_word(){ // function to check if the input is correct for the word (right/left hands)
				var input = document.querySelector('.input');
				if (input.value == document.getElementById("word").innerHTML){
					var d= new Date();
					timeEnd = d.getTime();
					alert("Correct. Your time was " + ((timeEnd-timeStart)/1000) + "seconds!");
					next_word();
				}
				else{
					bool = true; // to restart the timer
					attempts += 1;
					skip(attempts); // check if the skip button should appear
					alert("Try again");
					input.value= '';
				}
			}
			
			function next_image(){  // change the image
				bool = true; // to restart the timer
				var index = Math.floor(Math.random() * images.length);
				var img = images[index]
				displayedImage.setAttribute('src', 'static/'+img.image);
				displayedImage.setAttribute('id', img.word);
				attempts = 0; // counter back to 0
				document.getElementById("skip").style.visibility="hidden"; // button hidden again					
				input.value= '';
			}
			
			function next_word(){ // change the word
				bool = true; // to restart the timer
				var index = Math.floor(Math.random() * images.length);
				var word = images[index]
				document.getElementById("word").innerHTML = word.word;
				attempts = 0; // counter back to 0
				document.getElementById("skip").style.visibility="hidden"; // button hidden again					
				input.value= '';
			}
			if ({{ image }} == true) {
					btn.onclick=check_input_img;
			}
			else {
					btn.onclick=check_input_word;
			}

			$(document).keypress(function (e) {
                if (e.which == 13 || event.keyCode == 13) { // when the user presses enter
                	if ({{ image }} == true) { // the image is checked
						check_input_img();
					}
					else {
						check_input_word(); // or the word
					}
                }
            });
            
			function skip(attempts){ // if there has been three attempts, the skip button appear
				if(attempts >= 3){
					document.getElementById("skip").style.visibility="visible";
				} 
			}            
            
            btn2.onclick= function() { // change for another another image or another word by skipping
				if ({{ image }} == true) {
					next_image();
				}
				else {
					next_word();
				}
			}		
		}
    </script>
{% endblock %}