/* Fonts taken from Google - https://fonts.google.com */
/* Fonts bulletproofed on Font Squirrel - https://www.fontsquirrel.com/tools/webfont-generator, on April. 25th */

@font-face {
    font-family: 'gamja_flowerregular';
    src: url('font_body/gamjaflower-regular.woff2') format('woff2'),
         url('font_body/gamjaflower-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:"gamja_flowerregular";
	background-image: url("CCTBackground.gif");
	padding-right: 150px;
}

header {
	font-family:'gamja_flowerregular';
	padding:50px;
	text-align:center;
}

.main {
	font-family:'gamja_flowerregular';
	background-color: #ffffff;
	font-size: 20px;
	padding:40px;
}

.leftbar {
	font-size: 20px;
	padding:40px;
	overflow-y: auto;
}
.leftblock {
	background-color: #ffffff;
	padding: 10px;
}

#nav-selected a {
  color: pink;
  font-size: 30px;
}