/* Fonts taken from Google - https://fonts.google.com */
/* Fonts bulletproofed on Font Squirrel - https://www.fontsquirrel.com/tools/webfont-generator, on April. 25th */

@font-face {
    font-family: 'gamja_flowerregular';
    src: url('font_body/gamjaflower-regular.woff2') format('woff2'),
         url('font_body/gamjaflower-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:"gamja_flowerregular";
	/*background-image: url("CCTBackground.gif");*/
	background-color: #fffefb;
	padding-right: 150px;
}

header {
	font-family:'gamja_flowerregular';
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
	text-align:center;
}

.main {
	font-family:'gamja_flowerregular';
	background-color: #fffefb;
	font-size: 20px;
	padding:20px;
}

.leftbar {
	font-size: 20px;
	padding:20px;
	overflow-y: auto;
}
.leftblock {
	background-color: #fffefb;
	padding: 10px;
}

#nav-selected a {
  color: pink;
  font-size: 30px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: pink;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}