body {
	background-image: url("CCTBackground.gif");
	/*background-color: #ff0066;*/
	padding-right: 150px;
}

header {
	padding:50px;
	text-align:center;
}

.main {
	background-color: #ffffff;
	font-size: 20px;
	padding:40px;
}

.leftbar {
	font-size: 20px;
	padding:40px;
	overflow-y: auto;
}
.leftblock {
	background-color: #ffffff;
	padding: 10px;
}